<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>   </configSections>
    <connectionStrings>
      <add name="cntString" connectionString="DataSource=127.0.0.1;Database=cis; Uid=root;Pwd=casm09;" providerName="using MySql.Data.MySqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="imagenes" value="C:\CIS\CIS\Resources" />    
  </appSettings>
</configuration>